/* Colors Default */
body {
	background-color: #b54f4f; /* layer fill content */
 	background-image: -webkit-linear-gradient(bottom, #e6b9b9 0%, #e29393 5.3%, #d66a6a 23.95%, #993b3b 100%); /* gradient overlay */
	
}
a.active {
    color:#FFF }
	
a.passive {
    color:rgba(69,69,69,1.00) }
	
.navbar {
	background-color: #6b1212; /* layer fill content */
	background-image: -webkit-linear-gradient(bottom, #5a1212 0%, #a01010 100%); /* gradient overlay */
}
.navbar-inverse .navbar-nav > li > a { 
	color:#C6C6C6;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover,.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #b11515; /* layer fill content */
	background-image: -webkit-linear-gradient(bottom, #7c1818 0%, #c01313 100%); /* gradient overlay */
}
.navbar-nav.NavIcons > li > a .active {
    color:rgba(255,255,255,1.00) }
.navbar-nav.NavIcons > li > a .passive {
    color:#999999; }
	
.carousel-inner .thumbnail {
background-color:#FFF;
}

.carousel-indicators li { background-color: none; /* layer fill content */ }
.carousel-indicators .active {
background-color: #ffdede; /* layer fill content */
}


#footer { background-color: #520c0c; /* layer fill content */ }
#footer .marquee { color:#FFFFFF;}